{% extends 'base.html.twig' %}

{% block body %}
<h1 class="page-header">A propos </h1>
<p>
  -Gestion des formations:l'utilisateur choisi la formation ,tant que le superieur n'as pas valide ,il peut changer d'avis.
</p>
<p>
-statistiques sur les salaries:quelques stattistiques -> nombres d'hommes et de femmes.taux de CDD CDI (..)
</p>
<p>
-generateur de fiche de paie : l'utilisateur peux charger sa fiche de paie qui contient les informations nescessaires.(les calculs sont simplifiers).
</p>
<p>
-moteur de recherche:Ce moteur cherche dans les salaries ,les formations et les themes et sujets du forum et les affichent.
</p>

<p>
-tableur:Tableur a l'image de exel ,marche avec les formules de exel.
</p>
<p>
-forum de discussion:Le forum est regroupé par themes ,dans chaque themes on peut soit participer a une discussion ,soit en creer une nouvelle.
</p>
<p>
-mini chat:On peut creer une conversation et ajouter autant de personnes voulus.On peut supprimer une conversation a laquel on participe.
</p>

{% endblock %}
